{
    "arrowParens": "always",
    "bracketSpacing": false,
    "endOfLine": "lf",
    "printWidth": 130,
    "quoteProps": "consistent",
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all"
}
