@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-moz-selection {
        @apply bg-accent-200;
    }

    ::selection {
        @apply bg-accent-200;
    }

    html {
        font-size: 1rem;
    }
    body {
        text-rendering: optimizelegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @apply font-sans;
    }
    html,
    body {
        @apply bg-neutral-900 text-white;
    }

    h1,
    h2,
    h3 {
        @apply break-words;
    }

    address {
        font-style: normal;
    }
}
