@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        text-rendering: optimizelegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    /* ::-moz-selection {
        @apply bg-primary-200;
    } */

    /* ::selection {
        @apply bg-primary-200;
    } */

    html {
        font-size: 1.125rem; /* = 18px, by a default browser font size of 16px  */
    }

    h1,
    h2,
    h3 {
        @apply break-words;
    }
}
