@layer components {
    /*** PAGE LAYOUT ***/
    .content {
        @apply mx-auto max-w-screen-xl px-4;
    }

    /*** FOCUS ***/
    .common-focus {
        @apply focus-visible:ring-4 focus-visible:ring-primary-100 focus-visible:outline-none;
    }
    .common-focus-label-after:focus-visible + label {
        @apply ring-4 ring-primary-100 outline-none;
    }

    .common-focus-within {
        @apply focus-within:ring-4 focus-within:ring-primary-100 focus-within:outline-none;
    }

    /*** BUTTONS ***/
    .btn-base {
        @apply common-focus
        rounded-md
        inline-flex
        px-8
        py-3
        items-center
        justify-center
        text-center 
        text-lg
        font-bold
        transition-colors
        select-none
        whitespace-nowrap;
    }
    .btn-accent {
        @apply btn-base bg-accent-600 text-white hover:bg-accent-500 hover:text-white;
    }
    .btn-neutral {
        @apply btn-base bg-neutral-600 text-white hover:bg-neutral-500 hover:text-white;
    }

    /*** BADGES ***/
    .badge {
        @apply inline-flex items-center justify-center rounded-full text-xs font-black px-2.5 py-1.5 uppercase border;
    }
    .badge-light {
        @apply badge text-neutral-100 border-neutral-100 opacity-50;
    }
    .badge-dark {
        @apply badge text-neutral-900 border-neutral-900 opacity-100;
    }

    /*** HASHTAG ***/
    .hashtag {
        @apply text-xs font-bold uppercase before:content-['#'] before:inline-block;
    }

    /*** LINKS ***/
    .link {
        @apply common-focus
        rounded-md
        inline-block
        transition-colors
        text-current
        underline;
    }
    .link-dark {
        @apply link text-neutral-900 hover:text-neutral-800 underline;
    }

    /*** DETAILS ELEMENT ***/
    .details-summary {
        @apply cursor-pointer select-none;
    }
    .details-summary::marker,
    .details-summary::-webkit-details-marker {
        content: "";
        display: none;
    }

    /*** UTILS ***/
    .no-tap-highlight {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }
}
