@layer components {
    .common-focus {
        @apply focus:ring-4 focus:ring-primary-100 focus:outline-none;
    }

    .btn-base {
        @apply common-focus
        rounded-md
        focus:ring-4 focus:ring-primary-100 focus:outline-none
        inline-flex
        px-8
        py-3
        items-center
        justify-center
        text-center 
        text-lg
        font-black
        transition-colors
        select-none
        whitespace-nowrap;
    }

    .btn-accent {
        @apply btn-base bg-accent-600 text-white hover:bg-accent-500 hover:text-white;
    }
    .btn-neutral {
        @apply btn-base bg-neutral-600 text-white hover:bg-neutral-500 hover:text-white;
    }

    .link {
        @apply common-focus
        rounded-md
        inline-block
        transition-colors
        text-current
        underline;
    }
    .link-dark {
        @apply link text-neutral-900 hover:text-neutral-800 underline;
    }

    .content {
        @apply mx-auto max-w-screen-xl px-4;
    }

    .details-summary {
        @apply cursor-pointer select-none;
    }
    .details-summary::marker,
    .details-summary::-webkit-details-marker {
        content: "";
        display: none;
    }
}
