---
import WavesFooter from "@/components/decorations/waves-footer.astro";
---

<footer class="bg-linear-to-tr from-secondary-600 to-neutral-600">
    <WavesFooter class="w-full -mt-px" style="display: block; line-height: 0;" />
    <div class="content w-full py-32 text-center text-neutral-900 font-semibold">
        <a href="/" class="link-dark">home</a>
        <span class="mx-4">{"/"}</span>
        <a href="/legal-notice" class="link-dark">legal notice</a>
        <span class="mx-4">{"/"}</span>
        <a href="/privacy-notice" class="link-dark">privacy notice</a>
    </div>
</footer>
