---
import type {IllustrationId} from "@/typedefs";

import IllustrationApiCloudScreen from "./illustration-api-cloud-screen.astro";
import IllustrationHeadlessCms from "./illustration-headless-cms.astro";
import IllustrationMongodb from "./illustration-mongodb.astro";
import IllustrationRocketCloud from "./illustration-rocket-cloud.astro";
import IllustrationUiComponentsPhone from "./illustration-ui-components-phone.astro";

const illustrationMap: Record<IllustrationId, any> = {
    "api-cloud-screen": IllustrationApiCloudScreen,
    "headless-cms": IllustrationHeadlessCms,
    "mongodb": IllustrationMongodb,
    "rocket-cloud": IllustrationRocketCloud,
    "ui-components-phone": IllustrationUiComponentsPhone,
};

interface Props {
    class?: string;
    illustrationId: IllustrationId;
}

const {illustrationId} = Astro.props;

const Illustration = illustrationMap[illustrationId];
---

<div class={Astro.props.class}>
    <Illustration />
</div>
