---
import SectionStage from "../components/section-stage.astro";
import Layout from "../layouts/main.astro";
import Icon from "../components/icons/icon.astro";
---

<Layout title="404 page not found :(" description="The page does not exist or has been removed.">
    <SectionStage slot="stage">
        <div class="content text-center my-32 md:my-52">
            <Icon iconId="saschaklatt" class="mx-auto w-24 h-24 mb-12 text-neutral-900" />
            <h1 class="font-serif text-4xl md:text-5xl">404 | page not found :(</h1>
            <p class="text-lg md:text-xl my-10 md:my-16">The page does not exist or has been removed.</p>
            <a href="/" class="btn btn-accent">Back home</a>
        </div>
    </SectionStage>
</Layout>
