---
import Layout from "../layouts/layout.astro";
import SectionStage from "../components/section-stage.astro";
import SectionCta from "../components/section-cta.astro";
import SectionHeadlined from "../components/section-headlined.astro";
import {allProjects} from "../data/projects";
import {Email, allResources} from "../data/resources";
import CardResource from "../components/card-resource.astro";
import CardProject from "../components/card-project.astro";
import SectionTestimonials from "../components/section-testimonials";
import {allTestimonials} from "../data/testimonials";
import SectionStageContentIntro from "../components/section-stage-content-intro.astro";
---

<Layout
    slug="/"
    title="Sascha Klatt | full-stack developer"
    description="Freelance full-stack developer building web apps and enterprise websites preferably with React, Next.js and Node.js."
>
    <SectionStage slot="stage">
        <SectionStageContentIntro />
    </SectionStage>
    <SectionHeadlined
        slot="main"
        class="my-20 md:my-32"
        headline="Projects"
        subline="Hire me as a freelance web developer to realize your project or support your dev team. Here's a selection of the projects I worked on."
    >
        <ul class="flex flex-col gap-16">
            {allProjects.map((project) => <CardProject project={project} client:visible />)}
        </ul>
    </SectionHeadlined>
    <SectionCta slot="main" headline="Need dev support?" message="Let me help you creating high-quality digital products.">
        <a slot="actions" class="btn-accent" {...Email.link}>{"send me an email"}</a>
    </SectionCta>
    <SectionTestimonials slot="main" testimonials={allTestimonials} headline="Testimonials" name="testimonial" client:visible />
    <SectionHeadlined
        slot="main"
        class="my-20 md:my-32"
        headline="Let's connect!"
        subline="Download my CV and connect with me on other online platforms."
    >
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-8">
            {allResources.map((resource) => <CardResource {...resource} />)}
        </ul>
    </SectionHeadlined>
    <SectionCta
        slot="main"
        headline="Thanks for visiting!"
        message="If you have any questions or want to collaborate do not hestiate to..."
    >
        <a slot="actions" class="btn-accent" {...Email.link}>{"send me an email"}</a>
    </SectionCta>
</Layout>
