---
import Icon from "@/components/icon.astro";
---

<a href="/" class="group link-dark font-semibold mt-8 md:mt-16 inline-flex items-center gap-4 text-xl font-serif">
    <Icon iconId="saschaklatt" class="w-12 h-12 mb-3 md:transition-transform md:group-hover:-rotate-12" />
    <span class="md:transition-transform md:group-hover:rotate-2">{"Back home"}</span>
</a>
