---
interface EditorPane {
    id: string;
    tab: string;
    lines: string[];
}

interface Props {
    className?: string;
    panes: EditorPane[];
}

const {className, panes} = Astro.props;
---

<article class:list={["rounded-lg", "overflow-hidden", className]}>
    <div class="bg-gradient-to-b from-neutral-900 to-neutral-950 h-10 flex items-center px-4 gap-x-2">
        <span class="bg-accent h-3 w-3 rounded-full inline-block"></span>
        <span class="bg-[#F2F598] h-3 w-3 rounded-full inline-block"></span>
        <span class="bg-[#00FFBD] h-3 w-3 rounded-full inline-block"></span>
    </div>
    <form class="editor bg-neutral-900 flex gap-x-1" role="tablist" aria-label="editor with tabs">
        {
            panes.map(({id, tab, lines}, idx) => (
                <>
                    <input type="radio" name="editor-tab" id={id} checked={idx === 0} />
                    <label for={id} class="editor-tab">
                        {tab}
                    </label>
                    <div class="editor-content px-6 py-4 bg-gradient-to-b from-neutral-800 to-neutral-900">
                        <ol>
                            {lines.map((line) => (
                                <li>{line}</li>
                            ))}
                        </ol>
                    </div>
                </>
            ))
        }
    </form>
</article>
