---
interface Props {
    class?: string;
}

const {class: className} = Astro.props;
---

<section class:list={["font-code", "rounded-lg", "overflow-hidden", className]}>
    <div class="bg-neutral-900 h-10 flex items-center px-4 gap-x-2">
        <span class="bg-[#FF5F57] h-3 w-3 rounded-full inline-block"></span>
        <span class="bg-[#FDBC2E] h-3 w-3 rounded-full inline-block"></span>
        <span class="bg-[#28C83E] h-3 w-3 rounded-full inline-block"></span>
    </div>
    <div class="px-6 py-4 bg-neutral-800">
        <ol class="ml-6 pl-0 list-decimal leading-7">
            <slot />
        </ol>
    </div>
</section>
