---
/**
 * Editor component with tabs.
 * CSS-only tabs inspired by https://dev.to/joxx/building-a-tab-component-with-pure-css-using-radio-and-label-tags-200b
 */

import type {EditorTab} from "@/typedefs";

interface Props {
    className?: string;
    tabs: EditorTab[];
}

const {className, tabs} = Astro.props;
---

<article class:list={["rounded-lg overflow-hidden w-auto", className]}>
    <div class="bg-linear-to-b from-neutral-900 to-neutral-950 h-10 flex items-center px-4 gap-x-2">
        <span class="bg-[#E41776] h-3 w-3 rounded-full inline-block"></span>
        <span class="bg-[#F2F598] h-3 w-3 rounded-full inline-block"></span>
        <span class="bg-[#00FFBD] h-3 w-3 rounded-full inline-block"></span>
    </div>
    <form class="editor bg-neutral-900 flex" role="tablist" aria-label="editor with tabs">
        {
            tabs.map(({id, tab, lines}, idx) => (
                <>
                    <input type="radio" name="editor-tab" id={id} checked={idx === 0} />
                    <label for={id}>{tab}</label>
                    <div class="editor-content px-6 py-4 bg-linear-to-b from-neutral-800 to-neutral-900">
                        <ol>
                            {lines.map((line) => (
                                <li>{line || " "}</li>
                            ))}
                        </ol>
                    </div>
                </>
            ))
        }
    </form>
</article>
