---
import SvgWavesFooter from "./svg-waves-footer.astro";
---

<footer class="bg-gradient-to-tr from-primary-400 to-neutral-500">
    <SvgWavesFooter class="w-full" />
    <div class="content w-full py-32 text-center text-neutral-900 font-semibold">
        <a href="/" class="link-dark">home</a>
        <span class="mx-4">{"/"}</span>
        <a href="/legal-notice" class="link-dark">legal notice</a>
        <span class="mx-4">{"/"}</span>
        <a href="/privacy-notice" class="link-dark">privacy notice</a>
    </div>
</footer>
