---
interface Props {
    headline: string;
    subline?: string;
}

const {headline, subline} = Astro.props;
---

<header
    class="pl-8 py-4 relative before:content-[' '] before:absolute before:bg-primary before:rounded-md before:w-2 before:top-0 before:left-0 before:-bottom-0"
>
    <h2 class="font-serif text-4xl">{headline}</h2>
    {subline && <p class="opacity-70 text-lg font-bold max-w-prose leading-tight mt-2">{subline}</p>}
</header>
