---
interface Props {
    headline: string;
    subline?: string;
}

const {headline, subline} = Astro.props;
---

<header class="text-center overflow-hidden">
    <h2
        class="font-serif translate-x-7 inline-block text-4xl relative px-14 before:content-[' '] before:absolute before:bg-primary before:rounded-md before:h-2 before:w-10 before:ml-2 before:-left-2 before:bottom-2"
    >
        {headline}
    </h2>
    {subline && <p class="mx-auto opacity-70 text-lg font-bold max-w-prose leading-tight mt-2">{subline}</p>}
</header>
