---
interface Props {
    class?: string;
    headline: string;
    subline?: string;
}

const {headline, subline, class: className} = Astro.props;
---

<header class:list={["text-center", className]}>
    <h2 class="font-serif text-3xl md:text-5xl">{headline}</h2>
    {subline && <p class="text-lg md:text-2xl opacity-75 mt-2 md:my-8">{subline}</p>}
</header>
