---
import IconDocument from "@/assets/images/icons/document.svg";
import IconEnvelope from "@/assets/images/icons/envelope.svg";
import IconGithub from "@/assets/images/icons/github.svg";
import IconInstagram from "@/assets/images/icons/instagram.svg";
import IconLinkedIn from "@/assets/images/icons/linkedin.svg";
import IconNomadlist from "@/assets/images/icons/nomadlist.svg";
import IconSaschaklatt from "@/assets/images/icons/saschaklatt.svg";
import IconStackoverflow from "@/assets/images/icons/stackoverflow.svg";
import IconX from "@/assets/images/icons/x.svg";
import IconXing from "@/assets/images/icons/xing.svg";

import type {IconId} from "@/typedefs";

const iconMap: Record<IconId, any> = {
    document: IconDocument,
    envelope: IconEnvelope,
    github: IconGithub,
    instagram: IconInstagram,
    linkedin: IconLinkedIn,
    saschaklatt: IconSaschaklatt,
    stackoverflow: IconStackoverflow,
    x: IconX,
    xing: IconXing,
    nomadlist: IconNomadlist,
};

interface Props {
    class?: string;
    iconId: IconId;
}

const {class: className, iconId} = Astro.props;

const SvgIcon = iconMap[iconId];
---

<div class={className}>
    <SvgIcon />
</div>
