---
import HeaderSideline from "./header-sideline.astro";
---

<section class="py-10">
    <div class="content">
        <HeaderSideline
            headline="Projects"
            subline="Hire me as a freelance web developer to realize your project or support your dev team. Here's a selection of the projects I worked on."
        />
    </div>
</section>
