---
import SvgWavesStage from "./svg-waves-stage.astro";
---

<section class="bg-gradient-to-tr from-[#A3E061] to-neutral-500 flex flex-col justify-center">
    <slot />
    <SvgWavesStage />
</section>
