---
interface Props {
    headline: string;
    message?: string;
}

const {headline, message} = Astro.props;
---

<section class="my-48 md:my-64">
    <div class="content text-center">
        <h2 class="font-serif text-4xl md:text-6xl flex flex-col items-center">
            {headline}
        </h2>
        {
            message && (
                <p class="mx-auto opacity-70 text-2xl md:text-3xl font-light max-w-prose leading-tight my-12 md:my-16">
                    {message}
                </p>
            )
        }
        <div class="text-center inline-flex gap-4 flex-col md:flex-row mt-2">
            <slot name="buttons" />
        </div>
    </div>
</section>
