---
import type {Project} from "../data/typedefs";
import CardProject from "./card-project.astro";
import HeaderSideline from "./header-sideline.astro";

interface Props {
    projects: Project[];
}

const {projects} = Astro.props;
---

<section class="my-20 md:my-32">
    <div class="content">
        <HeaderSideline
            headline="Projects"
            subline="Hire me as a freelance web developer to realize your project or support your dev team. Here's a selection of the projects I worked on."
        />
        <ul class="flex flex-col gap-16 md:gap-16 mt-16">
            {projects.map((project) => <CardProject project={project} />)}
        </ul>
    </div>
</section>
