---
import HeaderUnderline from "./header-underline.astro";

interface Props {
    headline: string;
    message?: string;
}

const {headline, message} = Astro.props;
---

<section class="my-64">
    <div class="content text-center">
        <HeaderUnderline headline={headline} />
        {message && <p class="mx-auto opacity-70 text-xl font-semibold max-w-prose leading-tight my-12">{message}</p>}
        <div class="text-center inline-flex gap-4 flex-col md:flex-row">
            <slot name="buttons" />
        </div>
    </div>
</section>
