---
import SvgWavesStage from "@/assets/images/waves-header.svg";
---

<section class="bg-gradient-to-tr from-primary-400 to-neutral-500 flex flex-col justify-center">
    <slot />
    <SvgWavesStage />
</section>
