---
import type {IconId} from "../../typedefs";
import IconDocument from "./icon-document.astro";
import IconEnvelope from "./icon-envelope.astro";
import IconGithub from "./icon-github.astro";
import IconInstagram from "./icon-instagram.astro";
import IconLinkedIn from "./icon-linkedin.astro";
import IconNomadlist from "./icon-nomadlist.astro";
import IconSaschaklatt from "./icon-saschaklatt.astro";
import IconStackoverflow from "./icon-stackoverflow.astro";
import IconXing from "./icon-xing.astro";

const iconMap: Record<IconId, any> = {
    document: IconDocument,
    envelope: IconEnvelope,
    github: IconGithub,
    instagram: IconInstagram,
    linkedin: IconLinkedIn,
    saschaklatt: IconSaschaklatt,
    stackoverflow: IconStackoverflow,
    xing: IconXing,
    nomadlist: IconNomadlist,
};

interface Props {
    class?: string;
    iconId: IconId;
}

const {class: className, iconId} = Astro.props;

const Icon = iconMap[iconId];
---

<div class={className}>
    <Icon />
</div>
